.cart-container {
    width: 400px;
    background-color: #ECE9E3;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.carrito-name{
    font-size: 1.5em;
}

.cart-summary-container{
    background-color: #e5dac5;
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.cart-item-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #c6c2b9;
}

.cart-summary-first-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.cart-item-img-and-name{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cart-item-name{
    font-weight: 600;
    letter-spacing: -1px;
}

.cart-item-image-container{
    width: 45px;
    aspect-ratio: 1/1;
    margin-right: 10px;
}

.cart-quantity-box{
    border: 2px solid #c6c2b9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;
    padding: 8px;
    width: 100px;
}

.cart-item-quantity{
    margin: 0;
}

.cart-summary-second-row{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.cart-item-total{
    margin: 0;
    padding-bottom: 12px;
    font-weight: 300;
    font-size: 1.1em;
}

.quantity-icon{
    color: rgb(71, 71, 71)!important;
    width: 0.9em;
    height: 0.9em;
}

.delete-item-cart-icon{
    background-color: rgb(255, 187, 178);
    color: #ff6565!important;
    border-radius: 50%;
    padding: 0.2em;
    width: 0.9em!important;
    height: 0.9em!important;
}

.empty-cart-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
    max-height: 80vh;
}

.empty-cart-container h3{
    font-family: 'Work Sans';
    font-size: 1.1em;
    color:rgb(71, 71, 71);
    font-weight: 100;
}

.cart-volver-atras{
    background-color: black!important;
    color: white!important;
    padding: 6px 12px!important;
    font-family: 'Work Sans'!important;
}

.cart-checkout-container{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    padding-bottom: 50px;
}

.total-cart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 0;
}

.cart-checkout-button{
    background-color: black!important;
    color: white!important;
    padding: 6px 12px!important;
    font-family: 'Work Sans'!important;
    margin: 0 20px!important;
}

.cart-link{
    color:rgb(71, 71, 71);
    font-family: 'Work Sans';
    font-size: 0.9em;
    letter-spacing: -1px;
    margin-top: 10px;
    padding: 0 20px;
    text-align: center;
}